#question1{
  display: none;
}
#question2{
  display: none;
}
#question3{
  display: none;
}
#question4{
  display: none;
}
#question5{
  display: none;
}
#csharp{
  display: none;
  height: 200px;
  width: 200px;
}
#java{
  display: none;
  height: 200px;
  width: 200px;
}
#cplus{
  display: none;
  height: 200px;
  width: 200px;
}
#ruby{
  display: none;
  height: 200px;
  width: 200px;
}
#title-section{
  text-align: center;
}
#background{
  background: linear-gradient(to bottom right, #00cc66 0%, #ccff33 100%);
}
#info5{
  display: none;
}
#info4{
  display: none;
}
#info3{
  display: none;
}
#info2{
  display: none;
}
.center{
  text-align: center;
}
#babypic{
  display: none;
  height: 100px;
  width: 100px;
}
#teenpic{
  display: none;
  height: 200px;
  width: 200px;
}
#adultpic{
  display: none;
  height: 200px;
  width: 200px;
}
#oldpic{
  display: none;
  height: 200px;
  width: 200px;
}
#countrypic{
  display: none;
  height: 200px;
  width: 200px;
}
#rockpic{
  display: none;
  height: 200px;
  width: 200px;
}
#rappic{
  display: none;
  height: 200px;
  width: 200px;
}
#edmpic{
  display: none;
  height: 200px;
  width: 200px;
}
#cofeepic{
  display: none;
  height: 200px;
  width: 200px;
}
#teapic{
  display: none;
  height: 200px;
  width: 200px;
}
#smoothiepic{
  display: none;
  height: 200px;
  width: 200px;
}
#waterpic{
  display: none;
  height: 200px;
  width: 200px;
}



