#question1{
  display: none;
}
#question2{
  display: none;
}
#question3{
  display: none;
}
#question4{
  display: none;
}
#question5{
  display: none;
}
#csharp{
  display: none;
  height: 200px;
  width: 200px;
}
#java{
  display: none;
  height: 200px;
  width: 200px;
}
#cplus{
  display: none;
  height: 200px;
  width: 200px;
}
#ruby{
  display: none;
  height: 200px;
  width: 200px;
}