.question{
  display: none;
}
#title-section{
  text-align: center;
}
#background{
  background: linear-gradient(to bottom right, #00cc66 0%, #ccff33 100%);
}
.center{
  display: none;
  text-align: center;
}
img {
  display: none;
  height: 100px;
  width: 100px;
}



